:root {
  --heading-font-family: "Futura", "Trebuchet MS", "Arial", sans-serif;
  --body-font-family: "Cochin", "Hoefler Text", "Garamond", "Times New Roman",
    serif;
  --monospace-font-family: "Andale Mono", "Lucida Console", "Courier New",
    monospace, monospace;

  --base-line-height: 1.3;

  --transition-properties: 0.5s ease-out;

  background-color: rgb(var(--background-colour));
  font-family: var(--body-font-family);
  font-size: 14px;
  line-height: var(--base-line-height);
  color: rgb(var(--text-colour));
}

* {
  box-sizing: border-box;
  transition: background-color var(--transition-properties),
    border-color var(--transition-properties),
    color var(--transition-properties),
    outline-color var(--transition-properties);
}

html,
body {
  height: 100%;
}

#sapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  text-transform: lowercase;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
pre:first-child {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: underline rgb(var(--accent-colour)) 0.1em;
  transition: border-bottom-color var(--transition-properties),
    border-left-color var(--transition-properties),
    color var(--transition-properties);
}

p a {
  margin: 0.05em;
}

a:active,
a:focus,
a:focus-within,
a:hover {
  color: rgb(var(--accent-colour));
}

a[href^="http"],
a[href^="mailto"] {
  text-decoration-color: rgb(var(--secondary-accent-colour));
}

a[href^="http"]:active,
a[href^="mailto"]:active,
a[href^="http"]:focus,
a[href^="mailto"]:focus,
a[href^="http"]:focus-within,
a[href^="mailto"]:focus-within,
a[href^="http"]:hover,
a[href^="mailto"]:hover {
  color: rgb(var(--secondary-accent-colour));
}

a[href^="http"]:focus,
a[href^="mailto"]:focus {
  outline-color: rgb(var(--secondary-accent-colour));
}

a[href^="http"]::after,
a[href^="mailto"]::after {
  content: " ⤴";
  color: rgba(var(--text-colour), 0.7);
  transition: color var(--transition-properties);
}

a[href^="http"]:active::after,
a[href^="mailto"]:active::after,
a[href^="http"]:focus::after,
a[href^="mailto"]:focus::after,
a[href^="http"]:focus-within::after,
a[href^="mailto"]:focus-within::after,
a[href^="http"]:hover::after,
a[href^="mailto"]:hover::after {
  color: rgb(var(--secondary-accent-colour));
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  text-indent: -0.4em;
}

blockquote p::before {
  content: "“";
  margin-right: -0.05em;
}

blockquote p::after {
  content: "”";
  margin-left: -0.05em;
}

body button {
  border: 2px solid rgb(var(--accent-colour));
  padding: 0.3em 0.5em;
  background: none;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  text-transform: lowercase;
  color: rgb(var(--text-colour));
  cursor: pointer;
}

body button:focus {
  outline: rgb(var(--accent-colour)) dashed 1px;
  outline-offset: 2px;
}

body button:active,
body button:focus,
body button:focus-within,
body button:hover {
  color: rgb(var(--background-colour));
  background-color: rgb(var(--accent-colour));
}

cite {
  font-style: normal;
}

/**
 * We select children of `body` to override normalize.css with a higher
 * specificity.
 */
body code,
body kbd,
body pre,
body samp {
  font-family: var(--monospace-font-family);
}

details {
  margin: 1em 0;
}

details > :not(summary) {
  border-left: 2px solid rgb(var(--accent-colour));
  padding-left: 1em;
}

details summary {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  text-transform: lowercase;
  cursor: pointer;
}

details summary::marker {
  color: rgb(var(--accent-colour));
}

figcaption {
  font-size: 0.8em;
}

figure {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

figure img {
  border: 1px solid rgb(var(--accent-colour));
}

img {
  max-width: 100%;
}

:focus {
  outline: rgb(var(--accent-colour)) dashed 1px;
  outline-offset: 2px;
}

::selection {
  color: rgb(var(--background-colour));
  background: rgba(var(--accent-colour), 0.8);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 640px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}
